<html>
    <body>
        <footer>
        <div class="footer-main-container">
            <div class="footer-container-left">
                <span><?php echo $_SESSION['SYSTEM_NAME'] ?> · Developed by <?php echo $_SESSION['DEVELOPER'] ?> · 2022</span>
            </div>
            <div class="footer-container-right">
                <a href="report.php">
                    <i class="fa-solid fa-bug"></i>
                </a>
            </div>
        </div>

        </footer>
    </body>
</html>