<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a9c98c39db.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link type="text/css" href="./styles/style.css" rel="stylesheet">
    <script src="./script.js"></script>
</head>
<body>
     <section class="main-container">
        <div class="w33 container-left"></div>

        <div class="w33 container-center">
            <form class="" method="get">
                <div class="form-input">
                <input type="text" class="light-color" id="linkInput" name="videoLink" placeholder="...YouTube URL or ID..." required/>
                        <a id="pasteClipboardButton" onclick="pasteClipboard()">
                            <i class="fa-regular fa-clipboard light-color cursor-pointer"></i>
                        </a>
                </div>
                <input class="submit-button cursor-pointer" type="submit" name="getImage" value="TAKE THE THUMBNAIL"/>
            </form>

            <?php if($videoFound == false && $videoLink != ''){ ?>
            <div class="not-found-container">
                NOT FOUND
            </div>
            <?php } ?>

            <div class="result-container">
                <?php if($videoFound == true){ ?>
                    <img src="https://img.youtube.com/vi/<?php echo $videoID?>/maxresdefault.jpg"/>
                    <div class="download-container">
                        <a class="download-button" href="./temp_thumbs/1280x720_thumbnail_<?php echo $videoID?>.jpg" download="www.thumbtaker.com_1280x720_thumbnail_<?php echo $videoID?>.jpg">
                            <scan>1280x720</scan>
                            <i class="fa-solid fa-download light-color"></i>
                        </a>
                        <a class="download-button" href="./temp_thumbs/640x480_thumbnail_<?php echo $videoID?>.jpg" download="www.thumbtaker.com_640x480_thumbnail_<?php echo $videoID?>.jpg">
                            <scan>640x480</scan>
                            <i class="fa-solid fa-download light-color"></i>
                        </a>
                        <a class="download-button" href="./temp_thumbs/480x360_thumbnail_<?php echo $videoID?>.jpg" download="www.thumbtaker.com_480x360_thumbnail_<?php echo $videoID?>.jpg">
                            <scan>480x360</scan>
                            <i class="fa-solid fa-download light-color"></i>
                        </a>
                        <a class="download-button" href="./temp_thumbs/320x180_thumbnail_<?php echo $videoID?>.jpg" download="www.thumbtaker.com_320x180_thumbnail_<?php echo $videoID?>.jpg">
                            <scan>320x180</scan>
                            <i class="fa-solid fa-download light-color"></i>
                        </a>
                        <a class="download-button" href="./temp_thumbs/120x90_thumbnail_<?php echo $videoID?>.jpg" download="www.thumbtaker.com_120x90_thumbnail_<?php echo $videoID?>.jpg">
                            <scan>120x90</scan>
                            <i class="fa-solid fa-download light-color"></i>
                        </a>
                    </div>
        
                <?php } ?>
            </div>
        </div>

        <div class="w33 container-right"></div>
        </div>
    </section>
</body>
</html>