<html>
    <body>
        <section class="info-container">
            <h2 class="light-color">How to use <?php echo $SYSTEM_NAME ?></h2>
            <div class="image-tutorial">
                <div class="enter-youtube-url">
                    <p><i class="fa-solid fa-plus"></i></p>
                    <h3 class="light-color">Enter Youtube URL or ID</h3>
                    <p>Just enter YouTube <strong>URL</strong> or <strong>ID</strong> in the field.</p>
                </div>
                <div class="click-on-button">
                    <p><i class="fa-solid fa-circle-right"></i></p>
                    <h3 class="light-color">Take the Thumb</h3>
                    <p>Hit the <strong>TAKE THE THUMBNAIL</strong> button to generate the thumbnail</p>
                </div>
                <div class="download-the-thumb">
                    <p><i class="fa-solid fa-download"></i></p>
                    <h3 class="light-color">Download</h3>
                    <p>Hit the button with the <strong>RESOLUTION</strong> you want to download and save to your device.</p>
                </div>
            </div>

            <div class="info-content">
                
                <h3 class="light-color">What is <?php echo $SYSTEM_NAME ?></h3>
                <p><?php echo $SYSTEM_NAME ?> is an online web tool where you can download any YouTube video's thumbnail easily. With the help of this tool you can easily download YouTube thumbnail in <strong>FIVE</strong> different resolutions, they are:</p>
                <br>
                <span>· 1280x720</span>
                <span>· 640x480</span>
                <span>· 480x360</span>
                <span>· 320x180</span>
                <span>· 120x90 ·</span>
                <br>
                <br>
                <h3 class="light-color">Where is thumbnail saved after being downloaded?</h3>
                <p>It all depends on the Browser and operating system you are using, but normally all thumbnail images are saved under <strong>DOWNLOADS</strong> folder on Mac and Windows. You can also find by press <strong>CTRL+J</strong> in your browser to check your download history.</p>
                <br>
                <p>If you are using a mobile browser, you can view your download history just tap on <strong>OPTIONS</strong> and then on <strong>DOWNLOADS</strong>.</p>
                <br>
                <h3 class="light-color">Is it legal to download YouTube thumbnails?</h3>
                <p><strong>Yes, it's 100% legal.</strong></p>
                <p>You can download any YouTube video's thumbnails but as you know thumbnails and videos are copyrighted products you should take author permissions 1st in order to reuse that.</p>
                <br>
                <h3 class="light-color">What is YouTube thumbnail</h3>
                <p><strong>Youtube thumbnail</strong> is a type of image that represents a video before you click it, YouTube thumbnail is a summary of this video that is in the form of an image, before clicking on it, we have an idea of the content to be presented.</p>
                <br>
                <h4 class="light-color center-text">If this tool doesn't work, you can share issues on the report page clicking on the bug icon in the lower right corner</h4>
            </div>
        </section>

        
    </body>
</html>