<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a9c98c39db.js" crossorigin="anonymous"></script>
        <script src="./index.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link type="text/css" href="./styles/style.css" rel="stylesheet">
        <title>YouTube Thumbnail Getter</title>
    </head>
<body>
    <section class="main-container">
        <div class="w33 container-left">
            
        </div>

        <div class="w33 container-center">
            <h1>
                <i class="fa-solid fa-bug"></i> REPORT A BUG <i class="fa-solid fa-bug"></i>
            </h1>
            <form id="report-form" method="post">
                <input class="report-input" type="text" name="reportSenderName" placeholder="...Your Name..." required>
                <textarea rows="10" cols="7" class="report-input" name="reportMessage" placeholder="...Your bug report..." required></textarea>
                <input class="submit-button" type="submit" name="sendReport" value="SEND REPORT">
            </form>

            <?php if($reportSent == true){ ?>
                <div class="report-sent-container">
                    Report sucessfully sent
                </div>
                <?php } ?>
        </div>

        <div class="w33 container-right"></div>
    </section>
</body>
</html>