input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--lightColor) !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--lightColor);
    opacity: 0.8; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--lightColor);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--lightColor);
  }

:root{
    --transitionTime: 0.5s;
    --lightColor: #c5a87e;
    --darkColor: #161920;
    --darkerColor: #0d0f13;
    --whiteColor: #d3d3d3; 
    --borderRadiusSize: 0.5vw;
    --borderSize: 0.2vw;
}

*{
    margin: 0;
    padding: 0;
    color: var(--whiteColor);
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: var(--darkerColor);
    min-width: 200px;
}

.light-color{
    color: var(--lightColor);
}

.cursor-pointer{
    cursor: pointer;
}

.center-text{
    text-align: center;
}

.header-nav{
    display: flex;
    font-size: 20px;
    border-bottom: 0.1vw solid var(--lightColor);
}

.header-nav a{
    margin: 7px;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: transparent;
}

#header-icon{
    width: 20px;
    vertical-align: middle;
}

section{
    background-color: var(--darkColor);
}

form{
    width: 100%;
}

.form-input{
    width: 90%;
    min-width: 140px;
    height: 20px;
    border: var(--borderSize) solid var(--lightColor);
    border-radius: var(--borderRadiusSize);
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    margin-bottom: 0.5vw;
}

#linkInput{
    width: 90%;
    height: 20px;
    outline: none;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: 0 transparent;
}

#pasteClipboardButton{
    
    text-align: center;
    
    font-size: 15px;
    padding-top: 2px;
    padding-left: 2vw;
    padding-right: 1vw;
    border-radius: var(--borderRadiusSize);
}

.submit-button{
    width: 70%;
    min-width: 140px;
    height: 30px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    background-color: var(--lightColor);
    border: none;
    border-radius: var(--borderRadiusSize);
    transition: var(--transitionTime);
}

.submit-button:hover{
    width: 75%;
    height: 35px;
    font-size: 20px;
}

.main-container{
    display: table;
    width: 100%;
    height: 200px;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.container-left, .contaiter-right{
    padding: 0;
}

.w33{
    width: 10%;
    max-width: 33%;
    min-width: 33%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.container-center {
    width: 50%;
    padding: 1vw;
}

.container-center h1{
    font-size: 20px;
}
.container-center h1 > i{
    font-size: 15px;
}
  
.result-container{
    width: 100%;
    text-align: center;
}

.result-container img{
    width: 50%;
    border-radius: var(--borderRadiusSize);
    margin-top: 1vw;
    transition: var(--transitionTime);
}

.result-container img:hover{
    width: 100%;
}

.download-container{
    margin-top: 1vw;
}

.download-button{
    display: inline-block;
    width: 130px;
    border: var(--borderSize) solid var(--lightColor);
    border-radius: var(--borderRadiusSize);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin: 1px;
    padding: 2px;
    transition: var(--transitionTime);
}

.download-button:hover{
    width: 150px;
    font-size: 25px;
}

.not-found-container{
    width: 30%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    border-radius: var(--borderRadiusSize);
    border: var(--borderSize) solid rgb(187, 5, 5);
    color: rgb(187, 5, 5);
}

.info-container{
    border-top: 0.1vw solid var(--lightColor);
    text-align: left;
}

.info-container h2{
    text-align: center;
    font-size: 40px;
    padding-top: 2vw;
    
}

.info-content{
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.image-tutorial{
    width: 100%;
    padding-bottom: 2vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.1vw solid var(--lightColor);
}


.image-tutorial i{
    font-size: 70px;
    margin-bottom: 1vw;
}

.image-tutorial p{
    font-size: 18px;
    margin-top: 0.5vw;
}

.image-tutorial h3{
    font-size: 30px;
}

.enter-youtube-url , .click-on-button, .download-the-thumb{
    display: block;
    text-align: center;
    padding: 10px;
}

footer{
    border-top: 0.1vw solid var(--lightColor);
    font-size: 10px;
    background-color: var(--darkerColor);
}

.footer-main-container{
    display: table;
    width: 100%;
    vertical-align: middle;
}

.footer-container-left{
    display: table-cell;
    width: 50%;
    text-align: left;
    vertical-align: middle;
}

.footer-container-right{
    display: table-cell;
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

.footer-container-left span{
    padding: 1vw;
    background-color: transparent;
    vertical-align: middle;
}

.footer-container-right i{
    padding: 0.5vw;
    padding-right: 1vw;
    font-size: 20px;
    background-color: transparent;
    vertical-align: middle;
}

.report-input{
    width: 90%;
    border: var(--borderSize) solid var(--lightColor);
    border-radius: var(--borderRadiusSize);
    vertical-align: middle;
    outline: none;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    margin: 1vw;
    color: var(--lightColor);
}

.report-sent-container{
    width: 30%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    border-radius: var(--borderRadiusSize);
    border: var(--borderSize) solid rgb(0, 201, 0);
    color: rgb(0, 201, 0);
}